# Supabase Configuration
# Get these from your Supabase project settings -> API
VITE_SUPABASE_URL=https://cpdkhdfyaanhoeutapnq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_oGAtaRgPl-HjeliUj_ZCKg_h0zjzKM9

# Google Apps Script URL
VITE_GAS_URL=https://script.google.com/macros/s/AKfycbxH0u3ESjuCHl4u_O_q1ppSvDRARTFUnsd0jUvOQYOr6oh1yvZrw9gn3kajmYlLDaM/exec
